/* === HEADINGS === */
.heading {
	font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.heading--main {
	font-size: 2rem;
}

.heading--sec {
	font-size: 1.5rem;
}

.heading--branded {
	color: #F89F1C;
}
